.board {
  max-width: 100%;
  min-width: 50%;
  text-align: center;
}

.row {
  margin: 0 auto;
  user-select: none;
}

.card {
  position:relative;
  perspective: 400px;
  -webkit-animation-fill-mode: forwards;

  display: inline-block;
  height: 110px;
  width: 110px;
  margin: 5px;

  .front,
  .back {
    padding: 45px 20px;
    border: 1px solid #252525;
    min-width: 70px;
    text-align: center;
    font-size: 20px;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .front {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 900;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }

  .back {
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
  }

  &.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
  }

  &.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    background: #dadcea;
  }

  .card-target {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    background: green;
    padding: 3px;
    font-size: 12px;
  }

  &.excluded {
    -webkit-animation: scaleme 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-delay: .4s;
  }
}

@-webkit-keyframes scaleme {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(3); opacity: 0; visibility:hidden; animation-play-state: paused; z-index: -1; top: 200%}
}
