@import './reset.scss';
@import './font.scss';
@import './utils.scss';
@import './game.scss';

body {
  background: #f1f1f1;
  color: #252525;
}

.bold {
  font-weight: bold;
}

.game-settings {
  display: flex;
  margin: 0 auto;
  max-width: 90%;
  justify-content: space-between;

  .panel {
    min-width: 40%;
  }

  input {
    width: 100%;
  }
}

.center {
  text-align: center;
}

.target-values {
  .target {
    margin-bottom: 20px;
    .operator,
    .value {
      display: inline-block;
      border: 1px dashed #ccc;
      padding: 10px;
      width: 90px;

      h2 {
        padding-bottom: 10px;
      }
    }
    .operator {
      margin-right: 10px;
      color: #000000;
    }
    .value {
      color: #000000;
    }
  }

  h4 {
    margin: 10px 0;
    opacity: 0.6;
  }
  .target-value-item {
    display: inline-block;
    border: 1px solid green;
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    opacity: 0.6;
  }
}

.center > button {
  margin-top: 10px;
}
